body{
    background-color: rgb(19, 19, 19);
}

h3 {
  text-transform: capitalize;
}

.container {
    text-align: center;
  }
  .container h3 {
    background: var(--clr-black);
    color: var(--clr-white);
    padding: 1rem;
    border-radius: var(--radius);
    margin-bottom: 2.5rem;
  }

  
  