body{
    background-color: rgb(60, 147, 103);
}

h2 {
  text-transform: capitalize;
}

.container {
    text-align: center;
  }
  .container h2 {
    background: var(--clr-black);
    color: var(--clr-white);
    padding: 1rem;
    border-radius: var(--radius);
    margin-bottom: 2.5rem;
  }

  .btn-hero {
    font-family: var(--ff-primary);
    text-transform: uppercase;
    background: grey;
    color: var(--clr-black);
    letter-spacing: var(--spacing);
    display: inline-block;
    font-weight: 700;
    transition: var(--transition);
    border: 2px solid var(--clr-black);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
  }
  .btn-hero:hover {
    color: var(--clr-white);
    background: var(--clr-black);
  }