
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


body{
    background-color: rgb(19, 19, 19);
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}

img {
  width: 100%; /* or max-width: 100%; */
  height: auto;
}

h2 {
  text-transform: capitalize;
}

.container {
    text-align: center;
  }
  

  
  